/*
	Arcana 2.1 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Desktop (>= 480px)                                                            */
/*********************************************************************************/

/* GoogleDrive */
h1
{
	text-decoration: none;
}

/* Wrappers */

	#main-wrapper
	{
		background: #fff;
		padding: 2em 0 4em 0;
	}

	#header-wrapper
	{
		box-shadow: inset 0px 10px 80px 0px rgba(0,0,0,0.2);
		height: 102px;
		position: relative;
		padding: 2.25em 0 2.25em 0;
	}

	#footer-wrapper
	{
		padding: 3.5em 0 5em 0;
		box-shadow: inset 0px 10px 60px 0px rgba(0,0,0,0.15);
	}

/* Site Header */

	#site-header
	{
		position: relative;
		background: url('images/header.png');
		background-size: 100% 190px;
		height: 190px;
		text-shadow: -1px -1px 1px rgba(0,0,0,1);
	}

/* Logo */

	#logo
	{
		position: absolute;
		left: 40px;
		top: 0;
		height: 85px;
		line-height: 85px;
	}

		#logo h1
		{
			font-size: 2.25em;
			letter-spacing: -1px;
			color: #fff;
		}
		
		#logo span
		{
			display: inline-block;
			border-left: solid 2px #d0d0d0;
			margin-left: 1em;
			padding-left: 1em;
		}

/* Site Nav */

	#nav
	{
		position: absolute;
		top: 0;
		right: 50px;
		/*font-family: 'Open Sans Condensed', sans-serif;*/
		text-align: right;
	}

		#nav ul
		{
			list-style: none;
			overflow: hidden;
		}

			#nav ul li
			{
				display: block;
				float: left;
				text-decoration: none;
				font-size: 1.2em;
				height: 90px;
				line-height: 90px;
				margin: 0 0 0 1.75em;
			}

				#nav ul li a
				{
					color: #c0c0c0;
					text-decoration: none;
					outline: 0;
				}

				#nav ul li a:hover
				{
					color: #eee;
				}

			#nav ul li.current_page_item
			{
				background: url('images/nav-arrow.png') center 77px no-repeat;
			}

				#nav ul li.current_page_item a
				{
					color: #fff;
				}

/* Banner */

	#banner
	{
		margin: 0 0 3em 0;
		height: 300 px;
	}

		#banner a
		{
			height: 300 px;
		}

			#banner a img
			{
				width: 100%;
				display: block;
				height: 300 px;
			}

		#banner .caption
		{
			background: #1e1e1e url('images/bg3.png') top left repeat-x;
			font-size: 2em;
			color: #aaa;
			text-align: center;
			text-shadow: -1px -1px 1px rgba(0,0,0,1);
			padding: 0.6em 0 0.6em 0;
		}

			#banner .caption span
			{
			}
			
				#banner .caption span strong
				{
					color: #ffffff;
				}
		
			#banner .caption .button
			{
				border: solid 1px #001916;
				margin-left: 0.8em;
			}

/* Site Footer */
	
	#site-footer
	{
		text-shadow: 1px 2px 0px #fff;
	}

		#site-footer a
		{
			text-decoration: none;
			color: #525252;
		}

		#site-footer a:hover
		{
			text-decoration: underline;
		}


		#site-footer ul li
		{
			line-height: 2.5em;
		}

		#site-footer .divider
		{
			border-top: solid 1px #d0d0d0;
			border-bottom: solid 1px #d0d0d0;
			height: 4px;
			margin: 1em 0 1em 0;
		}

/* Form */

.form
{
	margin: 0px auto;
	margin-left: auto;
	margin-right: auto;
}
		
/* Copyright */
	
	#copyright
	{
		text-align: center;
		color: #868686;
	}

		#copyright a
		{
			color: #868686;
		}
		
/* Subpage */

	.subpage
	{
		padding-top: 4em !important;
	}

		.subpage article
		{
			padding: 0 1em 0 1em;
		}

		.subpage article.first
		{
			padding: 0 1em 0 0;
		}

		.subpage article.last
		{
			padding: 0 0 0 1em;
		}

		.subpage h2
		{
			font-size: 2.2em;
		}

		.subpage p
		{
			margin: 0 0 1.5em 0;
		}

		.subpage section, .subpage article
		{
			margin: 0 0 2em 0;
		}
		
#menu_bar
{
	background-image: url('images/bg4.png');
	background-color: #000;
	border-radius: 0px 0px 25px 0px;
	width: 180px;
	margin-right: 25px;
	margin-left: 40px;
}

#menu_bar a
{
	color: #FFF;
}

#menu_header
{
	color: white;
	border-bottom: solid 1px #d0d0d0;
	line-height: 30px;
}

#menu_top
{
	background-color: #38C3FF;
	height: 15px;
	width: 180px;
	margin-left: -40px;
	margin-right: 0px;
}